<%- include('header') -%>
<%- include('menu') -%>
<div class="home">
  <div class="banner">
    <div class="container">
      <div class="center-block text-center">
        <section class="slogan">
          <h1>Lorem Ipsum Dolor</h1>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h6>
        </section>
      </div>
    </div>
  </div>
  <div class="feature">
    <div class="row margin-0">
      <div class="col col-xs-12 col-sm-6 col-md-3 text-center feature-block">
        <h3><i class="fa fa-cogs" aria-hidden="true"></i></h3>
        <h6>Lorem ipsum dolor sit amet</h6>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3 text-center feature-block">
        <h3><i class="fa fa-television" aria-hidden="true"></i></h3>
        <h6>sed do eiusmod tempor incididunt ut labore et dolore </h6>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3 text-center feature-block">
        <h3><i class="fa fa-plug" aria-hidden="true"></i></h3>
        <h6>Ut enim ad minim veniam,</h6>
      </div>
      <div class="col col-xs-12 col-sm-6 col-md-3 text-center feature-block">
        <h3><i class="fa fa-mobile" aria-hidden="true"></i></h3>
        <h6>Sed ut perspiciatis unde omnis iste natus error sit</h6>
      </div>
    </div>
  </div>
  <div class="about container">
    <div class="row">
      <div class="col col-xs-12 col-sm-6 text-center">
        <img src="/images/about.jpg">
      </div>
      <div class="col col-xs-12 col-sm-6 text-center">
        <h2>About Rental's</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
    </div>
  </div>
</div>
<%- include('footer') -%>
