<header class="header stick-top">
  <span class="header-logo">Rental's</span>
  <% if(locals.username){ %>
    <a class="header-btn pull-right" href="/logout">Sign Out</a>
  <% } else{ %>
      <a class="header-btn pull-right" href="/login">Sign In</a>
  <% } %>
</header>
