* {
  font-family: 'Helvetica Neue'; }

body {
  background-color: #fafafa; }

.header {
  padding: 15px; }
  .header.stick-top {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .header-logo {
    font-size: 24px;
    color: #fff; }
  .header-btn {
    color: #fff;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer; }
    .header-btn:hover, .header-btn:visited {
      text-decoration: none;
      color: #fff;
      background: #f6121d; }

.home .banner {
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  background-image: url("/images/bg.jpg");
  height: 100vh; }
  .home .banner .slogan {
    margin-top: 100px;
    padding: 80px 0 30px;
    color: white; }
    .home .banner .slogan h2 {
      font-size: 2.8em;
      line-height: normal;
      text-transform: uppercase; }

.home .feature {
  background: #333; }
  .home .feature-block {
    color: #ffffff;
    padding: 30px; }
    .home .feature-block h3 {
      font-size: 6em; }
    .home .feature-block h6 {
      margin-top: 30px;
      font-size: 16px; }

.home .about {
  background: #ffffff;
  padding: 20px;
  margin-top: 50px; }
  .home .about img {
    max-width: 80%;
    margin-top: 50px; }
  .home .about h2 {
    font-size: 4em;
    color: #333;
    margin-bottom: 40px;
    margin-top: 0px; }
  .home .about p {
    color: #333;
    font-size: 22px;
    line-height: 34px;
    text-align: left; }

.footer {
  background: #283645;
  color: #707E8C;
  padding: 20px; }

.login {
  height: 100vh; }
  .login-container {
    height: 100vh;
    background-color: #ebebeb; }
  .login-image {
    height: 100vh;
    background-image: url("/images/about.jpg");
    background-size: cover;
    background-position: top left;
    background-color: #333; }
  .login-details {
    display: block;
    margin: 25vh auto 30vh;
    width: 282px;
    height: 40vh;
    text-align: left; }

.movie {
  min-height: 100vh; }
  .movie .search-bar {
    height: 70vh;
    background-image: url("/images/movie.png");
    background-size: cover;
    background-position: center center;
    background-color: #333; }
  .movie .search-container {
    margin: 30vh auto 0px;
    max-width: 582px;
    width: 100%; }

.movie-list {
  margin-top: 20px;
  padding: 20px; }
  .movie-list:after {
    clear: both; }

.movie-card {
  display: inline-block;
  width: 150px;
  margin: 5px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.27);
  background: #fff;
  cursor: pointer; }
  .movie-card img {
    max-width: 100%;
    width: 150px;
    height: 213px; }
  .movie-card p {
    text-align: left;
    margin: 10px;
    color: #333;
    font-weight: 700; }
  .movie-card:hover, .movie-card:visited {
    text-decoration: none; }

.margin-0 {
  margin: 0 !important; }

.error {
  color: #ff0000; }

.btn-lg, .input-lg {
  font-size: 15px; }

.wrapper {
  position: relative; }

.wrapper:before {
  font-family: 'FontAwesome';
  color: #888;
  position: absolute;
  right: 15px;
  margin-top: 5px;
  content: "\f002";
  float: right;
  z-index: 1;
  font-size: 1.7em; }
