* {
  font-family: 'Helvetica Neue';
}

body {
  background-color: $body-background;
}

.error-wrapper {
  color: $color-red;
  padding: 10px;
}

.header {
  padding: 15px;

  &.stick-top {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &-logo {
    color: $color-white;
    font-size: 24px;
   }

  &-btn {
    background-color: $btn-background;
    border-radius: 3px;
    color: $color-white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;

    &:hover,
    &:visited {
      background: lighten($btn-background, 5%);
      color: $color-white;
      text-decoration: none;
    }
   }
}

.home {
  .banner {
    background-attachment: fixed;
    background-color: $color-black;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    height: 100vh;

    .slogan {
      color: $color-white;
      margin-top: 100px;
      padding: 80px 0 30px;
    }

    h1 {
      font-size: 2.8em;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .feature {
    background: $color-black;

    &-block {
      color: $color-white;
      padding: 30px;

      h3 {
        font-size: 6em;
      }

      h6 {
        font-size: 16px;
        margin-top: 30px;
      }
    }
  }

  .about {
    background: $color-white;
    margin-top: 50px;
    padding: 20px;

    img {
      margin-top: 50px;
      max-width: 80%;
    }

    h2 {
      color: $color-black;
      font-size: 4em;
      margin-bottom: 40px;
      margin-top: 0;
    }

    p {
      color: $color-black;
      font-size: 22px;
      line-height: 34px;
      text-align: left;
    }
  }
}

.footer {
  background: $footer-background;
  color: $footer-color;
  padding: 20px;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.margin-bottom10 {
  margin-bottom: 10px !important;
}

.error {
  color: $color-red;
}

.success {
  color: $color-green;
}

.btn-lg,
.input-lg {
  font-size: 15px;
}

.btn-rent {
  background-color: $btn-background;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0;
  padding: 7px 17px;

  &:hover,
  &:visited {
    background: lighten($btn-background, 5%);
    color: $color-white;
    text-decoration: none;
  }
}

.movie-cast {
  margin-left: 5px;
}

.wrapper {
  position: relative;

  &::before {
    color: #888;
    content: '\f002';
    float: right;
    font-family: 'FontAwesome';
    font-size: 1.7em;
    margin-top: 5px;
    position: absolute;
    right: 15px;
    z-index: 1;
  }
}
